{%extends "base.html"%}
{% block title %}Argo Inventory{% endblock %}
{% block body %}
<section class="container px-4 mx-auto bg-gray-700">
    <div class="mt-10 items-center gap-x-3">
        <h2 class="text-3xl font-medium text-gray-800 dark:text-white">
            {% if client_name %}
                Resumen de {{ client_name }}
            {% else %}
                Lista de Envases
            {% endif %}
        </h2>
        <h1 class="mt-5 text-gray-100 " style="font-size: 16px;">Ordenar por:</h1>
    </div>
<div class="flex justify-between transition-all duration-300">
    <!-- Switchbox para ordenar -->
    <div class="flex items-center gap-x-3 mb-4">
        <form id="sort-form" action="{{ url_for(current_endpoint, **route_params) }}" method="GET" class="flex items-center gap-x-3">
            <!-- Mantener los filtros al cambiar el orden -->
            <input type="hidden" name="filter_type" value="{{ filter_type or '' }}">
            <input type="hidden" name="filter_value" value="{{ filter_value or '' }}">

            <label for="switch-sort" class="flex items-center cursor-pointer">
                <span class="text-sm text-gray-100 mr-2">ID</span>
                <input type="checkbox" id="switch-sort" name="sort_by" value="fecha"
                    {% if sort_by == 'fecha' %}checked{% endif %}
                    class="hidden" onchange="this.form.submit()">
                <div class="w-12 h-6 bg-gray-800 rounded-full flex items-center p-1 transition-colors duration-300 ease-in-out">
                    <div class="w-5 h-5 bg-gray-300 rounded-full shadow-md transform transition-transform duration-300 ease-in-out
                        {% if sort_by == 'fecha' %}translate-x-6 bg-blue-500{% endif %}">
                    </div>
                </div>
                <span class="text-sm text-gray-100 ml-2">Fecha</span>
            </label>
        </form>
    </div>


    <!-- Formulario de filtros -->
    <div class="flex items-center gap-x-3 mb-4">
        <form action="{{ url_for(current_endpoint, **route_params) }}" method="GET" class="flex items-center gap-x-3">
            <select name="filter_type" class="px-4 py-2 text-sm text-gray-700 bg-white border rounded-md">
                <option value="id" {% if filter_type == 'id' %}selected{% endif %}>Filtrar por ID</option>
                <option value="year" {% if filter_type == 'year' %}selected{% endif %}>Filtrar por Año</option>
            </select>
            <input type="text" name="filter_value" placeholder="ID o Año" 
                   value="{{ filter_value or '' }}"
                   class="px-4 py-2 text-sm text-gray-700 bg-white border rounded-md">
            <button type="submit" class="px-4 py-2 text-sm text-white bg-gray-800 rounded-md transition-colors duration-200 hover:bg-gray-600">
                Filtrar
            </button>
        </form>

        <!-- Botón para quitar filtro -->
        {% if filter_type and filter_value %}
        <a href="{{ url_for(current_endpoint, **route_params) }}"
               class="px-4 py-2 text-sm text-white bg-red-600 rounded-md transition-all duration-300 hover:bg-red-400">
                Quitar filtro
            </a>
        {% endif %}
    </div>
</div>

    <div class="flex flex-col mt-6">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <input type="checkbox"
                                        class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                    <span>ID</span>
                                </th>

                                <th scope="col"
                                    class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <span>Cliente</span>
                                    </div>
                                </th>

                                <th scope="col"
                                    class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <button class="flex items-center gap-x-2">
                                        <span>Estado</span>

                                        <svg class="h-3" viewBox="0 0 10 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                                                fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                            <path
                                                d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                                                fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                            <path
                                                d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                                                fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                                        </svg>
                                    </button>
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <button class="flex items-center gap-x-2">
                                        <span>Guías de Remisión</span>

                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="w-4 h-4">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                                        </svg>
                                    </button>
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Tipos de Envases</th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Fecha</th>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Borrar</th>
                                <th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            {% for envase in envases %}
                            <tr>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <input type="checkbox"
                                        class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                    {{ envase['id'] }}
                                </td>
                                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                    <div class="inline-flex items-center gap-x-3">
                                        <div class="flex items-center gap-x-2">
                                            <img class="object-cover w-10 h-10 rounded-full"
                                                src="https://antojasai.com/wp-content/uploads/2023/04/portada_oshi-no-ko-23.jpg"
                                                alt="">
                                            <div>
                                                <h2 class="font-medium text-gray-800 dark:text-white">
                                                    {{envase['cliente']}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap" id="status-container" data-estado="{{ envase['estado'] }}">
                                    <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 
                                    {% if envase['estado'] == 'pendiente' %}bg-yellow-100
                                    {% elif envase['estado'] == 'cancelado' %}bg-green-100
                                    {% else %}bg-red-100{% endif %}">
                                        <span class="h-1.5 w-1.5 rounded-full 
                                        {% if envase['estado'] == 'pendiente' %}bg-yellow-500
                                        {% elif envase['estado'] == 'cancelado' %}bg-green-500
                                        {% else %}bg-red-500{% endif %}"></span>
                                        <h2 class="text-sm font-normal 
                                        {% if envase['estado'] == 'pendiente' %}text-yellow-500
                                        {% elif envase['estado'] == 'cancelado' %}text-green-500
                                        {% else %}text-red-500
                                        {% endif %}">
                                            {{ envase['estado'] }}
                                        </h2>
                                    </div>                                    
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-2">
                                        {% for guia in envase['guias_remision'] %}
                                        <p class="text-xs px-2 py-1 rounded-full text-gray-200 dark:bg-gray-800">
                                            {{guia}}</p>
                                        {%endfor%}
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-2">
                                        {% for tipo, cant, color in zip(envase['tipos_envase'], envase['cantidades'],
                                        colors) %}
                                        {%if cant != "0"%}
                                        <p class="px-3 py-1 text-xs rounded-full dark:bg-gray-800 {{color}}">{{tipo}}
                                        </p>
                                        <p class="px-3 py-1 text-xs rounded-full dark:bg-gray-800 {{color}}">{{cant}}
                                        </p>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <p class="text-gray-200">{{envase['fecha']}}</p>
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <div class="flex items-center gap-x-6">
                                        <button data-id="{{ envase['id'] }}" onclick="deleteSelected(this)"
                                            class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                                
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-between mt-6">
        {% if page > 1 %}
        <a href="{{ url_for('app_router.inventario', page=page-1, filter_type=filter_type, filter_value=filter_value, sort_by=sort_by) }}"
            class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            <span>Previous</span>
        </a>
        {% else %}
        <span class="flex items-center px-5 py-2 text-sm text-gray-400 capitalize bg-white border rounded-md gap-x-2 dark:bg-gray-900 dark:text-gray-400 dark:border-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            <span>Previous</span>
        </span>
        {% endif %}
    
        {% if page < total_pages %}
        <a href="{{ url_for('app_router.inventario', page=page+1, filter_type=filter_type, filter_value=filter_value, sort_by=sort_by) }}"
            class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
            <span>Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </a>
        {% else %}
        <span class="flex items-center px-5 py-2 text-sm text-gray-400 capitalize bg-white border rounded-md gap-x-2 dark:bg-gray-900 dark:text-gray-400 dark:border-gray-700">
            <span>Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </span>
        {% endif %}
    </div>
    
</section>
{%endblock%}
{%block script%}
<script src="{{url_for('static', filename='js/inventario.js')}}"></script>
{%endblock%}