{%extends "base.html"%}
{% block title %}Argo Inventory{% endblock %}
{%set colors = ["text-indigo-500 bg-indigo-100/60", "text-blue-500 bg-blue-100/60", "text-pink-500 bg-pink-100/60"]%}
{% block body %}
<section class="container px-4 mx-auto">
    <div class="flex items-center gap-x-3 mt-10">
        <h2 class="text-3xl font-medium text-gray-800 dark:text-white">Envases pendientes de {{client_name}}</h2>
    </div>

    <div class="flex flex-col mt-6">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <input type="checkbox"
                                        class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                    <span>ID</span>
                                </th>
                                
                                <th scope="col"
                                    class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <span>Cliente</span>
                                    </div>
                                </th>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Estado</th>


                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <button class="flex items-center gap-x-2">
                                        <span>Guías de Remisión</span>

                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="w-4 h-4">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                                        </svg>
                                    </button>
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Tipos de Envases</th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Fecha</th>

                                <th scope="col" class="relative py-3.5 px-4"> <span class="sr-only">Cancelar</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            {% for i, envase in envases.iterrows() %}
                            <tr>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <input type="checkbox"
                                        class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                    {{ envase['id'] }}
                                </td>
                                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                    <div class="inline-flex items-center gap-x-3">
                                        <div class="flex items-center gap-x-2">
                                            <img class="object-cover w-10 h-10 rounded-full"
                                                src="https://media.tenor.com/j3iVFlGS5hEAAAAC/oshi-no-ko-hoshino-ai.gif"
                                                alt="">
                                            <div>
                                                <h2 class="font-medium text-gray-800 dark:text-white">
                                                    {{client_name}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items center gap-x-2">
                                        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 
                                    {% if envase['estado'] == 'pendiente' %}bg-yellow-100
                                    {% elif envase['estado'] == 'cancelado' %}bg-green-100
                                    {% else %}bg-red-100{% endif %}">
                                            <span class="h-1.5 w-1.5 rounded-full 
                                        {% if envase['estado'] == 'pendiente' %}bg-yellow-500
                                        {% elif envase['estado'] == 'cancelado' %}bg-green-500
                                        {% else %}bg-red-500{% endif %}"></span>
                                            <h2 class="text-sm font-normal 
                                        {% if envase['estado'] == 'pendiente' %}text-yellow-500
                                        {% elif envase['estado'] == 'cancelado' %}text-green-500
                                        {% else %}text-red-500
                                        {% endif %}">
                                                {{ envase['estado'] }}
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-2">
                                        {% for guia in envase['guias_remision'] %}
                                        <p class="text-xs px-2 py-1 rounded-full text-gray-200 dark:bg-gray-800">
                                            {{guia}}</p>
                                        {%endfor%}
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-2">
                                        {% for tipo, cant, color in zip(envase['tipos_envase'], envase['cantidades'], colors) %}
                                        {%if cant != "0"%}
                                        <p class="px-3 py-1 text-xs rounded-full dark:bg-gray-800 {{color}}">{{tipo}}
                                        </p>
                                        <p class="px-3 py-1 text-xs rounded-full dark:bg-gray-800 {{color}}">{{cant}}
                                        </p>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <p class="text-gray-200">{{envase['fecha']}}</p>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-6">
                                        <button data="{{envase['id']}}" onclick="deleteSelected(this)"
                                            class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                                              </svg>
                                              
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="flex items-center justify-between mt-6">
        <a href="#"
            class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>

            <span>
                previous
            </span>
        </a>

        <a href="#"
            class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
            <span>
                Next
            </span>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>
-->
</section>
{%endblock%}
{%block script%}
<script>const CLIENT_NAME = "{{client_name}}"</script>
<script src="{{url_for('static', filename='js/pendientes.js')}}"></script>
{%endblock%}